/build/
/dist/
/experiments/windows-x64/artifacts/
/experiments/windows-arm64/build/
/experiments/windows-arm64/build-ci/
/experiments/windows-arm64/dist/
/experiments/windows-arm64/dist-ci/
/experiments/windows-arm64/downloads/
/experiments/windows-arm64/downloads-ci/
/experiments/windows-arm64/toolchain/
